.advantages {
  @include flex-column-align-center;
}

.advantages__lead {
  @include flex-column-align-center;

  justify-content: space-between;
  min-height: 247px;

  @media (min-width: $tablet-width) {
    min-height: 244px;
    margin-top: 47px;
  }

  @media (min-width: $desktop-width) {
    min-height: 370px;
  }
}

.advantages__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;

  @include margin-padding-reset;

  @media (max-width: $mobile-width-only) {
    &:first-child {
      margin-top: 40px;
      margin-bottom: auto;
    }

    &:last-child {
      margin-top: auto;
      margin-bottom: 64px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 0;

    &:last-child {
      margin-bottom: auto;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;

    &:first-child {
      margin-top: 16px;
    }

    &:last-child {
      margin-top: 0;
      margin-bottom: auto;
    }
  }
}

.advantages__wrapper {
  @include triangle-background(32px, 54px, 100px);

  background-color: $background-grey;
  width: 100%;
}

.advantages__container {
  @include container;

  position: relative;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    max-width: 660px;
    display: grid;
    grid-template-columns: 1fr 310px;
  }
}

.advantages__list {
  @include margin-padding-reset;
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $mobile-width-only) {
    margin-top: 19px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    grid-column: 2 / -1;
    margin-top: 23px;
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 207px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 350px;
    column-gap: 20px;
  }
}

.advantages__item {
  @include flex-column-align-center;

  @media (max-width: $mobile-width-only) {
    margin-top: 30px;
    margin-bottom: auto;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    align-items: flex-start;
    margin-bottom: 33px;
  }

  @media (max-width: $tablet-width-max) {
    &:not(:last-child) {
      &::before {
        display: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 300px;
    min-height: 258px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }

  &::before,
  &::after {
    content: "";
    display: none;
    width: 300px;

    @media (min-width: $desktop-width) {
      display: block;
      position: absolute;
      background-repeat: no-repeat;
      background-position: top;
    }
  }

  &::before {
    height: 301px;
    background-image: url("../img/iphone-3-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-3-desktop@2x.png");
      background-size: 186px auto;
    }

    @media (min-width: $desktop-width) {
      top: -301px;
    }
  }

  &::after {
    height: 261px;
    z-index: 500;

    @media (min-width: $desktop-width) {
      top: -261px;
    }
  }

  &--screen-1 {
    &::after {
      background-image: url("../img/iphone-screen-1-desktop.jpg");
      right: 4px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.jpg");
        background-size: 170px auto;
      }
    }

    &::before {
      right: 3px;
    }
  }

  &--screen-2 {
    &::after {
      background-image: url("../img/iphone-screen-2-desktop.jpg");
      right: 1px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.jpg");
        background-size: 170px auto;
      }
    }
  }

  &--screen-3 {
    &::after {
      background-image: url("../img/iphone-screen-3-desktop.jpg");
      left: 2px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.jpg");
        background-size: 170px auto;
      }
    }

    &::before {
      display: block;

      @media (max-width: $mobile-width-only) {
        width: 157px;
        height: 277px;
        order: 3;
        margin-top: 41px;
        background:
          url("../img/iphone-screen-3-mobile.jpg") 8px 35px no-repeat,
          url("../img/iphone-3-mobile.png") no-repeat;

        @media (min-resolution: 2dppx) {
          background:
            url("../img/iphone-screen-3-mobile@2x.jpg") 8px 35px no-repeat,
            url("../img/iphone-3-mobile@2x.png") no-repeat;
          background-size: 140px auto, 157px auto;
        }
      }

      @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
        position: absolute;
        width: 268px;
        height: 481px;
        left: 20px;
        bottom: 0;
        background:
          url("../img/iphone-screen-3-tablet.jpg") 13px 59px no-repeat,
          url("../img/iphone-3-tablet.png") 0 0 no-repeat;

        @media (min-resolution: 2dppx) {
          background:
            url("../img/iphone-screen-3-tablet@2x.jpg") 13px 59px no-repeat,
            url("../img/iphone-3-tablet@2x.png") 0 0 no-repeat;
          background-size: 241px auto, 268px auto;
        }
      }

      @media (min-width: $desktop-width) {
        left: 3px;
      }
    }
  }
}

.advantages__subtitle {
  @include margin-padding-reset;

  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: $black;
  text-align: center;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
    margin-top: auto;
  }
}

.advantages__description {
  @include margin-padding-reset;

  text-align: center;

  @media (max-width: $tablet-width-max) {
    margin-top: 13px;
    margin-bottom: auto;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    margin-top: 22px;
  }
}

.advantages__shadow {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    width: 100%;
    height: 12px;
    background: url("../img/shadow.svg");
    left: 0;
    top: -12px;
    z-index: 1000;
  }
}
