.background--main-image {
  background-image: url("../img/back-desktop.jpg");
  background-position: center;
  background-size: 729px auto;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-size: 1200px auto;
  }

  @media (min-width: $desktop-width) {
    background-size: 2560px auto;
  }
}

.background--main-image--offer {
  @media (max-width: $mobile-width-only) {
    background-position: 50% -36%;
    background-size: 830px auto;
  }

  @media (min-width: $tablet-width) {
    background-size: 1280px auto;
    background-position: 50% 100%;
  }

  @media (min-width: $desktop-width) {
    background-size: 226%;
    background-position: 50% 76%;
    background-repeat: repeat;
  }
}
