.button {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  width: 276px;
  height: 59px;
  text-transform: uppercase;

  &--success {
    color: $white;
    background-color: $submit;
    border: 2px solid $submit;
    border-radius: 1px;
    box-sizing: border-box;
    outline: none;

    &:hover,
    &:focus {
      background-color: $green;
    }

    &:active {
      background-color: $green;
      color: $grey-light;
    }
  }

  @media (min-width: $tablet-width) {
    width: 296px;
  }
}
