.catalog-lead {
  @include flex-column-align-center;

  justify-content: space-between;
  background-color: $main;
  min-height: 420px;

  @media (min-width: $tablet-width) {
    min-height: 667px;
  }

  @media (min-width: $desktop-width) {
    min-height: 634px;
  }
}

.catalog-lead__header {
  @include margin-padding-reset;
  @include container;

  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $white;
  margin-top: 94px;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
    margin-top: 175px;
  }
}

.catalog-lead__wrapper {
  @include flex-column-align-center;

  justify-content: center;
  background-color: $white;
  width: 100%;
  min-height: 184px;

  @media (min-width: $tablet-width) {
    min-height: 228px;
  }

  @media (min-width: $desktop-width) {
    min-height: 240px;
  }
}

.catalog-lead__text {
  @include margin-padding-reset;

  line-height: 30px;
  text-align: center;
  padding-bottom: 7px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding-bottom: 0;
    padding-top: 13px;
  }
}
