.contest {
  @include flex-column-align-center;

  justify-content: space-between;
  padding-top: 93px;
  min-height: 370px;
  background-color: $main;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-height: 630px;
  }

  @media (min-width: $desktop-width) {
    min-height: 580px;
  }
}

.contest__lead {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $white;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
    margin-top: 83px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 76px;
  }
}

.contest__wrapper {
  @include flex-column-align-center;

  background-color: $white;
  width: 100%;
  min-height: 134px;

  @media (min-width: $tablet-width) {
    min-height: 191px;
  }

  @media (min-width: $desktop-width) {
    min-height: 186px;
  }
}

.contest__text {
  @include margin-padding-reset;

  line-height: 30px;
  text-align: center;
  margin-top: 44px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin: 91px auto 0 auto;
    max-width: 500px;
  }

  @media (min-width: $desktop-width) {
    max-width: 760px;
  }
}
