.contacts {
  @include flex-column-align-center;

  justify-content: space-between;
  min-height: 618px;

  @media (min-width: $tablet-width) {
    min-height: 779px;
  }

  @media (min-width: $desktop-width) {
    min-height: 867px;
  }
}

.contacts__wrapper {
  @include flex-column-align-center;

  justify-content: space-between;
  min-height: 411px;
  padding-top: 42px;
  position: relative;
}

.contacts__text {
  @include margin-padding-reset;

  font-weight: 300;
  font-size: 24px;
  line-height: 120%;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.contacts__list {
  @include margin-padding-reset;
  @include list-reset;
  @include flex-column-align-center;

  margin-top: 35px;
  margin-bottom: auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.contacts__item {
  min-width: 280px;
  text-align: center;
  margin-bottom: 19px;

  &:last-child {
    flex-grow: 1;
  }

  @media (min-width: $tablet-width) {
    min-width: 310px;
  }

  h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

    @include margin-padding-reset;
  }

  a,
  address {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: $accent;
  }
}

.mail-link {
  &:hover {
    text-decoration-line: underline;
    color: $main;
  }

  &:active {
    text-decoration-line: none;
    color: $grey-dark;
  }
}
