.copyright {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (max-width: $mobile-width-only) {
    margin-top: auto;
    margin-bottom: 42px;
  }
}

.copyright__title {
  @include margin-padding-reset;

  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.copyright__logo {
  margin-left: 16px;

  &:hover path {
    fill: $main;
  }

  &:active path {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 7px;
  }
}
