.copyright__link {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (max-width: $mobile-width-only) {
    margin-top: auto;
    margin-bottom: 47px;
  }

  &:hover .copyright__logo {
    color: $main;
  }

  &:active .copyright__logo {
    color: $grey-dark;
  }
}

.copyright__title {
  @include margin-padding-reset;

  line-height: 18px;
  color: $main;

  @media (min-width: $tablet-width) {
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding-bottom: 21px;
  }
}

.copyright__logo {
  margin-left: 16px;
  color: $accent;

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 10px;
    margin-left: 13px;
  }
}
