.diagram {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    background-color: $background-grey;
  }
}

.diagram__wrapper {
  display: none;
  min-height: 330px;
  max-width: 660px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    grid-template-columns: 1fr 571px;
    min-height: 480px;
  }
}

.diagram__timer {
  @include flex-column-align-center;

  width: 100%;
  height: 100%;

  svg {
    margin-right: auto;
    margin-top: auto;

    @media (min-width: $desktop-width) {
      transform: scale(1.25);
      margin-top: 102px;
      margin-left: 31px;
    }
  }
}

.diagram__content {
  @include flex-column-align-start;

  grid-column: 2 / -1;
}

.diagram__title {
  @include margin-padding-reset;

  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: $black;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    width: 170px;
    margin-top: 96px;
  }

  @media (min-width: $desktop-width) {
    line-height: 30px;
    margin-top: 163px;
    margin-left: 1px;
  }
}

.diagram__text {
  @include margin-padding-reset;

  margin-top: 10px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    margin-top: 25px;
  }
}

.diagram__link {
  color: $accent;
  text-decoration: underline;
  margin-top: 10px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
  }
}
