.download {
  width: 280px;
  height: 207px;

  @include flex-column-align-center;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
  }
}

.download__button {
  @include flex-column-align-center;

  justify-content: center;
  color: $white;
  width: 280px;
  height: 55px;
  border: 3px solid $white;
  box-sizing: border-box;
  border-radius: 29px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;

  &:hover {
    background-color: $white;
    color: $accent;
  }

  &:active {
    background-color: $white;
    color: $accent-dark;
  }
}

.download__list {
  @include margin-padding-reset;
  @include list-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download__description {
  text-align: center;
  font-weight: 300;

  @include margin-padding-reset;
}
