.download {
  @include flex-column-align-center;

  justify-content: space-between;
  width: 320px;
  height: 271px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  @media (max-width: $mobile-width-only) {
    background-color: $background-blue-dark;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 351px;
  }
}

.download__button {
  @include flex-column-align-center;

  justify-content: center;
  color: $white;
  width: 280px;
  height: 55px;
  border: 3px solid $white;
  box-sizing: border-box;
  border-radius: 29px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  margin-top: 28px;
  margin-bottom: 32px;

  &:hover {
    background-color: $white;
    color: $accent;
  }

  &:active {
    background-color: $white;
    color: $accent-dark;
  }

  @media (min-width: $tablet-width) {
    margin-top: -1px;
    width: 100%;
    padding-bottom: 2px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }
}

.download__list {
  @include margin-padding-reset;
  @include list-reset;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.download__item {
  &:not(:last-child) {
    margin-right: 35px;

    &:first-child {
      margin-bottom: -3px;
    }
  }

  &--logo {
    &-microsoft {
      padding-right: 4px;
      padding-bottom: 3px;
    }
  }
}

.download__description {
  @include margin-padding-reset;

  text-align: center;
  font-weight: 300;
  margin-top: 16px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-bottom: 115px;
  }
}
