.footer {
  @include flex-column-align-center;

  justify-content: space-between;
  min-height: 284px;

  @media (min-width: $tablet-width) {
    min-height: 127px;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    min-height: 197px;
    flex-direction: row;
  }
}

.social__list {
  @include list-reset;
  @include margin-padding-reset;

  display: flex;
}

.social__item {
  @include flex-column-align-center;

  justify-content: center;
  width: 48px;
  height: 48px;
  border: 3px solid $grey-darken;
  border-radius: 50%;

  &:hover {
    border-color: $main;
  }

  &:active {
    border-color: $grey-darken;

    svg {
      opacity: 0.3;
    }
  }
}
