.footer {
  @include flex-column-align-center;

  justify-content: space-between;
  min-height: 284px;

  @media (min-width: $tablet-width) {
    min-height: 127px;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    min-height: 197px;
    flex-direction: row;
  }
}

.footer__logo {
  color: $main;

  @media (max-width: $mobile-width-only) {
    margin-top: 49px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 18px;
  }
}
