.logo {
  display: none;

  &--header {
    .logo__desktop-i,
    .logo__desktop-stars {
      color: $accent;
    }

    &:hover,
    &:focus {
      .logo__desktop-i,
      .logo__desktop-stars {
        color: $accent;
      }
    }

    &:active {
      .logo__desktop-i,
      .logo__desktop-stars {
        color: $grey-light;
      }
    }
  }

  &--footer {
    .logo__tablet-glasses,
    .logo__desktop-glasses {
      color: $accent;
    }

    .logo__desktop-i {
      color: $accent;
    }

    &:hover path {
      fill: $accent;
    }

    &:active path:first-child,
    &:active path:last-child {
      fill: $main;
    }

    &:active path {
      opacity: 0.3;
    }
  }

  &--mobile {
    @media (max-width: $mobile-width-only) {
      display: block;
    }
  }

  &--tablet {
    margin-top: -15px;

    @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
      display: block;
    }
  }

  &--desktop {
    margin-top: -15px;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}
