.map {
  width: 100%;

  @media (min-width: $desktop-width) {
    max-width: 1200px;
  }

  iframe {
    width: 100%;
    height: 200px;

    @media (min-width: $tablet-width) {
      height: 374px;
    }

    @media (min-width: $desktop-width) {
      height: 502px;
    }
  }
}
