.main-nav {
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: -66px;
  background-color: $background-header;

  @media (min-width: $tablet-width) {
    margin-bottom: -110px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 130px;
    font-weight: normal;
    line-height: 18px;
  }
}

.main-nav--wait {
  background-color: $background-header;
}

.main-nav__list {
  @include list-reset;
  @include margin-padding-reset;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.main-nav__item {
  height: 63px;

  a {
    color: $white;

    &:hover {
      color: $accent;
    }

    &:active {
      color: $accent-dark;
    }

    @media (min-width: $desktop-width) {
      &:active {
        color: $grey-light;
      }
    }
  }

  &:not(:first-child) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: $tablet-width-max) {
    background-color: $main;
    box-shadow:
      0 1px 0 $black,
      inset 0 1px 0 $grey;
    padding: 0 20px;
    margin-bottom: 1px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    background-color: transparent;
  }
}

.main-nav__work-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;

  @media (min-width: $tablet-width) {
    height: 109px;
  }

  &--active {
    height: 66px;
    background-color: transparent;
  }
}

.main-nav__toggle {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
