.offer {
  background-color: $main;
}

.offer__wrapper {
  @include flex-column-align-center;

  justify-content: space-between;
  color: $white;
  padding-top: 90px;
  min-height: 733px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-height: 729px;

    @include container;
  }

  @media (min-width: $desktop-width) {
    min-height: 853px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 351px;
    max-width: 660px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    grid-template-rows: 1fr 403px;
  }
}

.offer__preview {
  background:
    url("../img/phone.png") -173px 0 no-repeat,
    url("../img/screen.jpg") 50% 33px no-repeat;
  background-size: 510px, 110px;

  @media (max-width: $mobile-width-only) {
    width: 320px;
    height: 286px;
    margin-top: auto;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
    background-position:
      -131px bottom,
      351px 146px;
    background-size: 889px, 195px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    background-position:
      15px bottom,
      585px 183px;
    background-size: 1050px, 230px;
  }
}

.offer__lead {
  @include margin-padding-reset;

  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;

  @media (max-width: $mobile-width-only) {
    padding: 0 20px;

    @include container;
  }

  @media (min-width: $tablet-width) {
    font-size: 40px;
    margin-top: 81px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    margin-top: 81px;
    font-size: 50px;
    line-height: 68px;
  }
}
