.offer {
  background-color: $main;
}

.offer__wrapper {
  @include flex-column-align-center;

  justify-content: space-between;
  color: $white;
  padding-top: 90px;
  min-height: 733px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-height: 729px;

    @include container;
  }

  @media (min-width: $desktop-width) {
    min-height: 853px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 300px 1fr;
  }
}

.offer__preview {
  background:
    url("../img/phone.png") -173px 0 no-repeat,
    url("../img/screen.jpg") 50% 33px no-repeat;
  background-size: 510px, 110px;

  @media (max-width: $mobile-width-only) {
    width: 320px;
    height: 286px;
    margin-top: auto;
  }
}

.offer__lead {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;

  @media (max-width: $mobile-width-only) {
    padding: 0 20px;

    @include container;
  }

  @include margin-padding-reset;

  @media (min-width: $tablet-width) {
    font-size: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}
