.post {
  @include flex-column-align-center;
}

.post__list {
  @include margin-padding-reset;
  @include list-reset;
  @include flex-column-align-center;

  min-width: 280px;

  @media (min-width: $tablet-width) {
    display: grid;
    gap: 20px;
    grid-template-columns: 300px 300px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 300px 300px 300px;
  }
}

.post__item {
  width: 100%;

  @media (max-width: $mobile-width-only) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.post__comment,
.post__description,
.post__likes {
  @include margin-padding-reset;
}

.post__comment {
  @include flex-column-align-start;

  background-color: $background-grey;
  padding: 18px 10px 18px 17px;
  box-sizing: border-box;
  min-height: 121px;

  @media (min-width: $tablet-width) {
    min-height: 155px;
    padding: 23px 30px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 31px 31px 29px 27px;
  }
}

.post__preview {
  margin-bottom: -7px;
}

.post__author {
  cite {
    font-weight: bold;
    font-style: normal;
  }

  .post__time {
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    font-style: normal;
    text-transform: uppercase;
  }
}

.post__likes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
  line-height: 24px;
  color: $accent;
  text-transform: uppercase;
  width: 100%;
  margin-top: 11px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    margin-top: 0;
  }

  &--set {
    margin-left: 19px;

    @media (min-width: $tablet-width) {
      margin-left: 0;
    }
  }

  a {
    @media (min-width: $tablet-width) {
      order: 2;
    }
  }
}

.main-label {
  @include flex-column-align-center;

  justify-content: center;
  width: 140px;
  height: 36px;
  background-color: $accent;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: $white;
  position: absolute;
  top: 0;
  right: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    top: 57px;
  }

  @media (min-width: $desktop-width) {
    top: 54px;
    right: 130px;
  }
}

.post__figure {
  @include margin-padding-reset;
  @include flex-column-align-center;

  a {
    position: relative;
  }

  img {
    height: 180px;
    object-fit: cover;
    width: 100%;

    @media (max-width: $mobile-width-only) {
      width: 280px;
    }

    @media (min-width: $tablet-width) {
      height: 300px;
      width: 300px;
    }

    @media (min-width: $desktop-width) {
      height: 400px;
    }
  }

  figcaption {
    width: 280px;

    @media (min-width: $tablet-width) {
      width: 300px;
    }
  }
}

.post--main {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  .post__comment {
    @media (min-width: $tablet-width) {
      flex-direction: row;
      flex-wrap: wrap;
      min-height: 121px;
    }
  }

  img {
    height: 137px;
    object-fit: cover;
    width: 100%;

    @media (max-width: $mobile-width-only) {
      max-width: 320px;
    }

    @media (min-width: $tablet-width) {
      height: 509px;
    }

    @media (min-width: $desktop-width) {
      height: 506px;
    }
  }

  .post__likes {
    @media (min-width: $tablet-width) {
      justify-content: flex-end;
      width: 30%;
      padding-top: 2px;
    }

    &--set {
      margin-right: 16px;
    }
  }

  .post__description {
    margin-top: 0;

    @media (min-width: $tablet-width) {
      order: 3;
      min-width: 100%;
      margin-top: -3px;
    }
  }

  figcaption {
    width: 100%;
  }
}

.post__description {
  margin-top: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: auto;
  }
}
