.price {
  @include triangle-background(19px, 41px, 100px);

  background-color: $background-grey;

  @media (min-width: $tablet-width) {
    min-height: 345px;
  }

  @media (min-width: $desktop-width) {
    min-height: 434px;
  }
}

.price__slider {
  @include flex-column-align-center;

  justify-content: space-between;
  overflow: hidden;

  @media (max-width: $mobile-width-only) {
    min-height: 462px;
  }
}

.price__list {
  @include margin-padding-reset;
  @include list-reset;

  margin-top: 83px;
  display: flex;
  align-items: flex-end;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 57px;
  }
}

.price__table {
  display: table;
  border-collapse: collapse;
  min-width: 280px;
  overflow: hidden;
  border-radius: 3px;

  &:first-child {
    .price__item--header {
      display: none;
    }

    .price__cell {
      padding-top: 8px;
      padding-left: 14px;

      @media (min-width: $desktop-width) {
        padding-top: 14px;
        padding-left: 21px;
      }
    }

    .price__cell:first-child {
      border-top-width: 2px;
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 156px;

    &:not(:first-child) {
      margin-left: -2px;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 237px;
  }

  @include margin-padding-reset;
}

.price__row {
  display: table-row;

  height: 61px;

  &:nth-child(2) {
    height: 60px;

    @media (min-width: $tablet-width) {
      height: 46px;
    }

    @media (min-width: $desktop-width) {
      height: 60px;
    }
  }

  @media (min-width: $tablet-width) {
    height: 47px;
  }

  @media (min-width: $desktop-width) {
    height: 61px;
  }
}

.price__item--header {
  background-color: $main;
  display: block;
  box-sizing: border-box;
  height: 98px;
  position: relative;

  border-right: 2px solid $white;
  border-left: 2px solid $white;

  @media (min-width: $tablet-width) {
    height: 79px;
    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    height: 98px;
  }
}

.price__cell {
  display: table-cell;
  line-height: 30px;
  background-color: $white;
  box-sizing: border-box;
  border: 2px solid $grey-lighter;
  border-left-width: 4px;
  border-right-width: 4px;
  width: 270px;

  &:first-child {
    border-top-width: 0;
  }

  @media (max-width: $mobile-width-only) {
    text-transform: uppercase;
  }

  @media (min-width: $tablet-width) {
    width: 152px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    width: 233px;
  }
}

.rate-header,
.rate-price {
  text-transform: uppercase;
  color: $white;
}

.rate-header {
  @include flex-column-align-center;

  justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  padding-top: 12px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding-top: 16px;
  }
}

.rate-price {
  @include margin-padding-reset;

  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: auto;
  margin-top: -3px;

  @media (min-width: $desktop-width) {
    font-size: 24px;
    margin-top: 1px;
  }
}

.price__item--rates {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.price .price__item {
  box-sizing: border-box;

  @media (max-width: $mobile-width-only) {
    &--prev,
    &--next {
      display: table;
      position: absolute;
      top: 0;
    }

    &--prev {
      left: -278px;
    }

    &--next {
      right: -278px;
    }
  }

  @media (min-width: $tablet-width) {
    display: table;
  }
}

.price__item:nth-child(2) {
  .price__item--header {
    border-left-color: $main;
  }
}

.price__item:last-child {
  .price__item--header {
    border-right-color: $main;
  }
}

.price__toggles {
  margin-bottom: 45px;
  margin-top: auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.rate-offer {
  display: none;

  @media (max-width: $mobile-width-only) {
    display: block;
    margin-top: 14px;
    margin-left: 20px;
  }
}

.price__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
}

.rate-status {
  &--yes {
    width: 31px;
    height: 21px;
    margin-top: 14px;
    margin-right: 18px;
    background-image: url("../img/yes.svg");

    @media (min-width: $tablet-width) {
      margin-top: 12px;
      margin-right: 0;
    }

    @media (min-width: $desktop-width) {
      margin-top: 19px;
    }
  }

  &--no {
    width: 27px;
    height: 27px;
    margin-top: 14px;
    margin-right: 20px;
    background-image: url("../img/no.svg");

    @media (min-width: $tablet-width) {
      margin-top: 10px;
      margin-right: 0;
    }

    @media (min-width: $desktop-width) {
      margin-top: 16px;
    }
  }
}

.price__hit {
  display: none;
  position: absolute;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  color: $white;
  background-color: $accent;
  transform: rotate(-45deg);
  width: 114px;
  height: 23px;
  text-transform: uppercase;
  text-align: center;
  left: -33px;
  padding-right: 14px;

  &--active {
    display: block;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    height: 19px;
    width: 104px;
    line-height: 17px;
    left: -34px;
    padding-right: 10px;
  }

  @media (min-width: $desktop-width) {
    left: -31px;
    padding-right: 10px;
  }
}
