.price {
  @include triangle-background(19px, 41px, 100px);

  background-color: $background-grey;
}

.price__slider {
  @include flex-column-align-center;

  justify-content: space-between;
  min-height: 462px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    min-height: 345px;
  }

  @media (min-width: $desktop-width) {
    min-height: 434px;
  }
}

.price__list {
  @include margin-padding-reset;
  @include list-reset;

  margin-top: 83px;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.price__table {
  display: table;
  border-collapse: collapse;
  min-width: 280px;
  overflow: hidden;

  @include margin-padding-reset;
}

.price__row {
  display: table-row;

  height: 61px;

  &:nth-child(2) {
    height: 60px;
  }
}

.price__item--header {
  background-color: $main;
  display: block;
  box-sizing: border-box;
  height: 98px;
  position: relative;

  @media (max-width: $mobile-width-only) {
    border-right: 2px solid $white;
    border-left: 2px solid $white;
    border-radius: 1px 0 0 0;
  }
}

.price__hit {
  display: none;
  position: absolute;
  top: 0;
  left: -2px;

  &--active {
    display: block;
  }
}

.price__cell {
  display: table-cell;
  line-height: 30px;
  background-color: $white;
  box-sizing: border-box;
  border: 2px solid $grey-lighter;
  border-left-width: 4px;
  border-right-width: 4px;
  border-radius: 1px 0 0 0;
  width: 270px;

  &:first-child {
    border-top-width: 0;
  }

  @media (max-width: $mobile-width-only) {
    text-transform: uppercase;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    width: 233px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    font-size: 18px;
    height: 45px;
    width: 152px;
  }
}

.rate-header,
.rate-price {
  text-transform: uppercase;
  color: $white;
}

.rate-header {
  @include flex-column-align-center;

  justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  padding-top: 12px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.rate-price {
  @include margin-padding-reset;

  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: auto;
  margin-top: -3px;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.price__item--rates {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.price .price__item {
  box-sizing: border-box;

  @media (max-width: $mobile-width-only) {
    &--prev,
    &--next {
      display: table;
      position: absolute;
      top: 0;
    }

    &--prev {
      left: -278px;
    }

    &--next {
      right: -278px;
    }
  }

  @media (min-width: $tablet-width) {
    display: table;
  }
}

.price__toggles {
  margin-bottom: 45px;
  margin-top: auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.rate-offer {
  display: none;

  @media (max-width: $mobile-width-only) {
    display: block;
    margin-top: 14px;
    margin-left: 20px;
  }
}

.price__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate-status {
  &--yes {
    width: 31px;
    height: 21px;
    margin-top: 14px;
    margin-right: 18px;
    background-image: url("../img/yes.svg");
  }

  &--no {
    width: 27px;
    height: 27px;
    margin-top: 14px;
    margin-right: 20px;
    background-image: url("../img/no.svg");
  }
}
