.reviews {
  min-height: 362px;

  @media (min-width: $tablet-width) {
    min-height: 388px;
  }

  @media (min-width: $desktop-width) {
    min-height: 505px;
  }
}

.reviews__author {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: $black;

  @include margin-padding-reset;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-top: 36px;
    margin-bottom: auto;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.reviews__author-contacts {
  @include margin-padding-reset;

  display: none;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  @include margin-padding-reset;

  line-height: 30px;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    margin-top: 15px;
    margin-bottom: auto;
    min-height: 160px;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    order: -1;
  }
}

.reviews__list {
  @include margin-padding-reset;
  @include list-reset;

  margin-top: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 100px;
  }
}

.reviews__item {
  @include flex-column-align-center;

  justify-content: space-between;
  min-height: 255px;

  @media (min-width: $tablet-width) {
    min-height: 170px;
  }

  @media (min-width: $desktop-width) {
    min-height: 505px;
  }
}

.reviews__nav {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.reviews__toggles {
  margin-top: 0;
  margin-bottom: auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    padding-right: 3px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
