.scale {
  width: 240px;
  height: 2px;
  background-color: $main;

  @media (max-width: $mobile-width-only) {
    display: none;

    &--active {
      display: block;
      position: absolute;
      bottom: 34px;
      left: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 202px;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
  }
}

.scale__toggle {
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  background-color: $white;
  border: 2px solid $accent;
  border-radius: 50%;
  top: -5px;
  position: absolute;
  outline: none;
  cursor: pointer;

  &:focus {
    background-color: $accent;
  }
}
