.social {
  @media (max-width: $mobile-width-only) {
    margin-top: 38px;
    margin-bottom: auto;
  }
}

.social__list {
  @include list-reset;
  @include margin-padding-reset;

  display: flex;

  @media (min-width: $tablet-width) {
    padding-bottom: 15px;
    margin-left: -15px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 8px;
    padding-bottom: 17px;
  }
}

.social__item {
  &:not(:last-child) {
    margin-right: 8px;

    @media (min-width: $desktop-width) {
      margin-right: 5px;
    }
  }
}

.social__link {
  @include flex-column-align-center;

  box-sizing: border-box;
  width: 54px;
  height: 54px;
  border: 3px solid $grey-darken;
  border-radius: 50%;
  justify-content: center;
  outline: none;

  &:hover,
  &:focus {
    border-color: $main;
  }

  &:active {
    border-color: $grey-darken;

    svg {
      opacity: 0.3;
    }
  }

  &--youtube {
    padding-left: 5px;
  }
}
