.upload-form {
  @include flex-column-align-center;

  justify-content: center;
  background-color: $background-grey;
  padding-top: 20px;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
    padding-bottom: 52px;
    display: grid;
    grid-template-columns: 300px 275px;
    grid-template-rows: 1fr 1fr;
    column-gap: 45px;
    margin-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    padding-right: 60px;
    grid-template-columns: 300px 410px;
    column-gap: 90px;
    padding-bottom: 55px;
    margin-bottom: 36px;
    max-width: 940px;
  }
}

.upload-form__wrapper {
  width: 100%;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $grey-darken;
  }
}

.upload-form__send {
  @include flex-column-align-center;

  justify-content: space-between;
  height: 201px;
  padding-top: 38px;
  padding-bottom: 41px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-bottom: 2px;
    padding-right: 11px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 0;
  }

  .upload-form__send-button {
    @media (min-width: $tablet-width) {
      width: 260px;
    }

    @media (min-width: $desktop-width) {
      width: 183px;
    }
  }
}

.upload-form__preview {
  width: 280px;
  height: 374px;
  grid-column: 1 / 1;
  grid-row: 1 / -1;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 400px;
    margin-top: -2px;
  }
}

.upload-form__item {
  grid-column: 1 / 1;
  grid-row: 1 / -1;
}

.upload__item--active {
  path {
    fill: $accent;
  }
}
