$background-header: rgba(0, 0, 0, 0.3); // фон шапки
$grey: rgba(255, 255, 255, 0.15); // тень вверху фона меню;
$grey-light: rgba(255, 255, 255, 0.3); // цвет текста меню при нажатии
$grey-lighter: #e5e5e5; // граница в радио
$grey-dark: rgba(40, 54, 69, 0.3);  // кругляшки для переключения слайдов
$grey-darken: rgba(40, 54, 69, 0.1);  // отмена поста
$white: #ffffff;  //крестик в меню; шрифт в меню, лендинге; граница у кнопки в лендинге
$black: #000000;  // тень внизу фона меню; шрифт на белом фоне
$main: #283645;  // фон меню; шрифт на белом фоне; кругляшок для активного слайда; иконка академии при наведении; текст в форме
$background-blue-dark: #1d2631;  // фон в лендинге
$background-grey: #f2f2f2;  // фон
$accent: #d22856; // пометка хита на тарифе; цвета для связи; иконки соцсетей; иконка академии; лого; цвет текста кнопки скачать при наведении; наведение на бутерброд меню; лейблы в форме; отметки в чекбоксе, радио; панорама дня; нравится; активная инконка редактирования; запостить
$success: #3dc644; // галочка ок в тарифе
$submit: #2aab6d; // отправить в форме
$error: #f25b26; // крестик в тарифе
