a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  @include container;
}

.required {
  color: $accent;
}

.visual {
  &-hidden {
    display: none;
  }

  &-mobile {
    @media (max-width: $mobile-width-only) {
      display: inline-block;
    }
  }

  &-tablet {
    @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
      display: inline-block;
    }
  }

  &-desktop {
    @media (min-width: $desktop-width) {
      display: inline-block;
    }
  }
}
