@mixin list-reset {
  list-style: none;
}

@mixin margin-padding-reset {
  margin: 0;
  padding: 0;
}

@mixin flex-column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-column-align-start {
  display: flex;
  flex-direction: column;
  align-items: start;
}

@mixin container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
    max-width: 1200px;
  }
}
