@mixin list-reset {
  list-style: none;
}

@mixin margin-padding-reset {
  margin: 0;
  padding: 0;
}

@mixin flex-column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-column-align-start {
  display: flex;
  flex-direction: column;
  align-items: start;
}

@mixin container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
    max-width: 1200px;
  }
}

@mixin triangle-background($height-mobile, $height-table, $height-desktop) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -$height-mobile;
    right: 0;
    border-bottom: $height-mobile/2 solid $background-grey;
    border-top: $height-mobile/2 solid transparent;
    border-right: 50vw solid $background-grey;
    border-left: 50vw solid transparent;

    @media (min-width: $tablet-width) {
      top: -$height-table;
      border-bottom-width: $height-table/2;
      border-top-width: $height-table/2;
    }

    @media (min-width: $desktop-width) {
      top: -$height-desktop;
      border-bottom-width: $height-desktop/2;
      border-top-width: $height-desktop/2;
    }
  }
}
